 .card {
   width: 100%;
   height: 100%;
   background-color: white;
   border: solid;
   display: flex;
   flex-direction: column;
   align-items: center;
   text-align: center;
   border: solid;
 }

 .card hr {
   width: 100%;
 }

 .card-info {
   display: flex;
   flex-direction: column;
   font-size: 40px;
   align-items: center;
 }

 .rotate {
  -moz-transform: scale(-1, -1);
  -o-transform: scale(-1, -1);
  -webkit-transform: scale(-1, -1);
  transform: scale(-1, -1);
  align-items: center;
 }


 .square {
  display: flex;
  flex-direction: column;
  align-items: center;
   height: 100px;
   width: 100px;
   justify-content:center;
 }

 .square span {
   display: flex;
   font-size: 90px;
 }
