.game {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.top {
  display: flex;
  height: 20%;
  width: 100%;
}

.middle {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 60%;
  border: solid;
}

.bottom {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 0;
  width: 100%;
  align-items: center;
  height: 20%;
  }

.table-action {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.table-action button {
  width: 100%;
  border: none;
  padding: 10px 20px;
  font-size: 50px;
  color: black;
  border:solid;
}

.table-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  justify-content: space-around;
}

.table-info p {
  font-weight: bold;
}

.lost {
  background: #C82333;
  color: #fff;
}

.won {
  background: #218838;
  color: #fff;
}
